body {
    background-image: url("../Aufgabe13/Dateien/bg.png");
    width: 800px;
    margin: 0 auto;
    
    flex-flow: row wrap;
    

}

h1 { 

    color: #202020;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;

    padding: 10px 10px 30px 10px;
    background-color: rgb(228, 228, 228);
    border: 10px solid rgb(185, 185, 185);
    margin: 0 auto;
   
    width: 800px;

    flex: 1 10%;
   
}

h2 {
    color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;

    padding: 10px 10px 30px 10px;
    background-color: rgb(228, 228, 228);
    border: 10px solid rgb(207, 207, 207);
    margin: 0 auto;
   
    width: 800px;

    flex:  1 10%;


    
}



nav {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: rgb(111, 59, 128);
   
    
    width: 100%;
    height: 25px;
    background-color: rgb(228, 228, 228);
    padding: 10px 10px 20px 10px;
    border: 10px solid rgb(207, 207, 207);
    margin: auto;
    text-align: right;
    position: sticky;
    top: 0;

    
    

}

#start {
    font-weight: bold;
    color: black;
    text-align: center;
}



p, ul{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    
    

    padding: 10px 10px 30px 10px;
    background-color: rgb(228, 228, 228);
    border: 10px solid rgb(207, 207, 207);
    margin: 0 auto;
   
    width: 800px;

    flex: 1 10%;
}






.medien{

    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 10px 30px 10px;
    background-color: rgb(228, 228, 228);
    border: 10px solid rgb(207, 207, 207);
    margin: 0 auto;
   
    width: 800px;

    flex: 1 10%;
  
}

img, video{
    margin: 5px;
    flex: 1 10%;
}

#mich:hover {
    background-color: rgb(70, 0, 60);
    transition: all 2s;
}

#kontakt:hover {
    background-color: rgb(70, 0, 60);
    transition: all 2s;
}

#port:hover {
    background-color:rgb(70, 0, 60);
    transition: all 2s;
}

.active{
    color: rgb(255, 0, 0);
    
   
}


.fa {
    padding: 8px;
    font-size: 8px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }

  .fa-instagram:hover {
    background: #e98fff;
    color: black;
    transition: all 2s;
  }

  form {
    padding: 10px 10px 30px 10px;
    background-color: rgb(228, 228, 228);
    border: 10px solid rgb(207, 207, 207);
    margin: 0 auto;
   
    width: 800px;
    text-align: center;
    flex: 1 50%;
  }
  label { 
    display: block;
    cursor: pointer; 
  }
  input,
  textarea {
    width: 300px;
    border: 1px solid rgb(207, 207, 207);
    margin-bottom: 1em;
  }
  textarea {
    height: 7em;
  }
  input:focus,
  textarea:focus {
    background-color: rgb(207, 207, 207);
  }

div+p{
    color: rgb(43, 42, 42)
}

body h2{
    color: rgb(87, 21, 100);
}

nav>a{
    color: rgb(178, 113, 190);
}

nav:before { 
    content:'->';
  }

  nav::after {
      content: '<-';
  }
  
  @media screen and (max-width: 768px) {
      h1 {
        width: 300px;
      }
      h2{
          width: 300px;
      }
      nav{
          width: 300px;
      }
      p{
          width: 300px;
      }
      .medien{
          width: 300px;
      }
  }
